<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="orderWebServiceSoap" />
                <binding name="warehouseWebServiceSoap" />
                <binding name="supplierWebServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://fastapps04.qut.edu.au/n8510873/orderService/orderWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="orderWebServiceSoap"
                contract="orderService.orderWebServiceSoap" name="orderWebServiceSoap" />
            <endpoint address="http://fastapps04.qut.edu.au/n8510873/warehouseService/warehouseWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="warehouseWebServiceSoap"
                contract="warehouseService.warehouseWebServiceSoap" name="warehouseWebServiceSoap" />
            <endpoint address="http://fastapps04.qut.edu.au/n8510873/supplierService/supplierWebService.asmx"
                binding="basicHttpBinding" bindingConfiguration="supplierWebServiceSoap"
                contract="supplierService.supplierWebServiceSoap" name="supplierWebServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>
